/*
 * Globals
 */

 @font-face {
	font-family: "Segoe UI";
	src: url("../fonts/Segoe-UI/Segoe-UI.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Oxygen";
	src: url("../fonts/Oxygen/Oxygen-Regular.ttf") format("truetype");
}


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
	color: #fff;
	text-shadow: none;
	/* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
	color: #000;
	font-family: "Segoe UI", "Roboto", "Oxygen", Arial, Helvetica, sans-serif;
	/*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
	/* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
	flex-direction: column;
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

.cover-container {
	max-width: 55rem;
	position: relative;
	z-index: 0;
}

p {
	margin-bottom: 0.5rem;
	font-size: 1.15rem !important;
}

a {
	text-decoration: none;
}

.container {
    max-width: 48rem;
}


/*
 * Header
*/

header {
	/* display: flex;
  flex-direction: column;
  justify-content: left; */
	margin-bottom: 4rem;
}

.header-nav {
	width: auto;
	height: 100%;
	/* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start; */
}

.nav-title {
	/* display: flex;
  flex-direction: column;
  justify-content: left; */
	display: inline-block;
	text-align: center;
}

.nav-title a {
	color: #000 !important;
	text-decoration: none !important;
}

.nav-title h4 {
	font-size: 0.9rem;
	/* text-align: left;
  margin-left: 0.2em; */
}

.nav-masthead .nav-link {
	padding: .25rem 0;
	font-weight: 700;
	color: rgba(0, 0, 0, .5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: rgba(0, 0, 0, .25);
}

.nav-masthead .nav-link+.nav-link {
	margin-left: 1rem;
}

.nav-masthead .active {
	color: #000;
	border-bottom-color: #000;
}

hr {
	width: 50%;
	margin: 0 auto;
	margin-top: 1rem;
	/* border-bottom: dashed 0.1em; */
	/* background-image: linear-gradient(to right, black 20%, rgba(255,255,255,0) 0%); */
	/* background-position: bottom; */
	/* background-size: 10px 1px; */
	/* background-repeat: repeat-x; */
}


/*
 * Main
*/

main {
	display: flex;
	flex-direction: column;
}

#home header {
	margin-bottom: 10rem;
}

#home h1 {
	letter-spacing: 0.04rem;
}


/*
 * Animation
*/

canvas {
	width: 100vw !important;
	height: auto !important;
	position: relative;
	z-index: -1;
	/* position: fixed;
	top: 20%;
	max-height: 200px; */
}

#animation-container {
	/* width: fit-content;
	align-self: center;
	margin-bottom: 2rem; */
	position: absolute;
	top: 10rem;
	transform: rotate(-10deg);
	align-self: flex-start;
	margin-left: 0;
}


/*
 * About
*/

#about main {
	text-align: left;
}

#about main h1 {
	border-bottom: 1px;
	border-bottom-style: groove;
	padding-bottom: 1rem;
}

#about .container {
	padding: 0;
}

#about .container p {
	margin-top: 2rem;
}


/*
 * Projects
*/

#projects main {
	text-align: left;
}

#projects main h1 {
	border-bottom: 1px;
	border-bottom-style: groove;
	padding-bottom: 1rem;
}

#projects main h2 {
	text-decoration: underline;
}

#projects .container {
	padding: 0;
}

#projects .card {
	background-color: transparent;
	background-clip: inherit;
	border: none;
	border-radius: 0;
}

#projects .card a {
	color: #000;
	opacity: 1;
	transition: all .15s ease-in-out;
}

#projects .card a:hover {
	opacity: 0.9;
}

#projects .card .card-body {
	padding-left: 0;
}

#projects .card h3 {
	font-size: 1rem;
	text-decoration: underline;
}

#projects .card img {
	width: 100%;
	height: 225px;
	display: block;
	object-fit: scale-down;
	border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.3);
	box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
}

#projects .container p {
	margin-top: 0.5rem;
}



#projects .project-content {
	margin-top: 2rem;
}

#projects .project-role {
	font-weight: bold;
    color: rgba(0,0,0,0.7);
	margin-top: -0.5rem !important;

}

#projects .project-start {
	margin-top: 3rem !important;
}

#projects .project-image {
	margin-top: 3rem;
}

#projects .project-video {
	margin-top: 3rem !important;
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive::before {
	display: block;
	content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.embed-responsive-21by9::before {
	padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
	padding-top: 56.25%;
}

.embed-responsive-4by3::before {
	padding-top: 75%;
}

.embed-responsive-1by1::before {
	padding-top: 100%;
}

/*
 * Sounds
*/

#sounds main {
	text-align: left;
 }
 
 #sounds main h1 {
	border-bottom: 1px;
	border-bottom-style: groove;
	padding-bottom: 1rem;
 }
 
 #sounds main h2 {
	/*text-decoration: underline; */
 }

 #sounds main h3 {
 font-size: 1.5rem;

}
 
 #sounds main a {
	text-decoration: underline !important;
 }
 
 #sounds .container {
	padding: 0;
 }
 
 #sounds .top-border {
	border-top-style: groove;
	border-top-width: 1px;
	padding-bottom: 1rem;

 }
 
 #sounds .container p {
	margin-top: 2rem;
 }
 

 #sounds .sc-playlist {
	max-width: 70%;
	margin-top: 1rem;
	margin-bottom: 2rem;
 }


/*
 * Downloads
*/

#downloads main {
	text-align: left;
}

#downloads main h1 {
	border-bottom: 1px;
	border-bottom-style: groove;
	padding-bottom: 1rem;
}

#downloads main h2 {
	/*text-decoration: underline; */
}

#downloads main a {
	text-decoration: underline !important;
}

#downloads .container {
	padding: 0;
}

#downloads .mt-3 {
	margin-top: 2rem!important;
}

#downloads .top-border {
	border-top-style: groove;
	border-top-width: 1px;
	padding-bottom: 1rem;
	max-width: 50%;
}

#downloads .container p {
	margin-top: 0.5rem;
}

#downloads .download-content {
	margin-top: 2rem;
}

#downloads .download-image {
	margin-top: 1rem;
}


/*
 * Contact
*/

#contact main {
	text-align: left;
}

#contact main h1 {
	border-bottom: 1px;
	border-bottom-style: groove;
	padding-bottom: 1rem;
}

#contact .container {
	padding: 0;
}

#contact .container p {
	margin-top: 2rem;
}

#contact .contact-tooltip {
	position: relative;
	display: inline-block;
}

#contact .contact-tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

#contact .contact-tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

#contact .contact-tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}


/*
 * Footer
*/
footer {
	display: flex;
    flex-direction: column;
	width: 100%;
    height: auto;
	position: relative;
    bottom: 0;
}

footer p {
	font-size: 0.9rem !important;
}

footer a {
	color: rgba(0,0,0,.5)!important;
	text-decoration: underline;
	
}

footer a:hover {
	color: #000 !important;
}

footer .copyright-link {
	font-size: 0.8rem;
}

.sns-icons {
	margin-top: 2rem;
}

.sns-icons ul {
	justify-content: center;
}

.sns-icons ul li {
	font-size: 1.5em;
}

.sns-icons .nav-link {
	color: rgba(0, 0, 0, 1.0);
}

.sns-icons .nav-link:hover {
	color: rgba(0, 0, 0, 0.5);
}

.sns-icons .nav-link img {
	opacity: 1.0;
	transition: all .15s ease-in-out;
}

.sns-icons .nav-link img:hover {
	opacity: 0.5;
}

.sns-icons .icon-image {
	width: 30px;
	padding-bottom: 0.4rem;
}


/*
 * Media Queries
*/


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
	#home header {
		margin-bottom: 0rem;
	}
	#home #animation-container {
		margin-top: 3rem;
		margin-bottom: 1rem;
		transform: rotate(340deg);
	}
	#home canvas {
		width: 95vw !important;
		max-height: 100px;
	}
	#home main h1 {
		margin-top: 2rem;
	}
	#home footer {
		margin-top: 2rem!important;
	}
}

/* iPhone SE 2016 */
@media only screen and (width: 320px) and (height: 568px) {
	
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {

}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.header-nav {
		text-align: start;
	}
	.nav-title h4 {
		text-align: left;
		margin-left: 0.2em;
	}
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}